.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
include/config/main.php
tests
deploy.ini
sync.php
git-deploy
phpdoc.phar
sami.phar
sami.php
sitemap.xml
cron/restore-dev
cron/restore-dev/*
cron/restore
install/cache/*
cache/cache.*
