.logo {
	margin-top: 5%;
	background: orange;
}

.page-header {
	border-bottom: 0px;
	font-size: 14pt;
	color: #666;
	h1 {
		font-size: 24pt;
		font-weight: 300;
		color: #232323;
		small {
			font-size: 48pt;
			color: orange;
		}
	}
}