.gallery-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gallery-container .gallery-item {
  border: 1px solid #e6e6e6;
  width: calc( 25% - 1rem);
  margin: .5rem .5rem;
}

.gallery-container .gallery-item .gallery-photo {
  height: 280px;
  position: relative;
}

.gallery-container .gallery-item .gallery-photo .number {
  position: absolute;
  top: 0rem;
  left: 0rem;
  z-index: 1;
  padding: .9rem 1.5rem;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.85);
  font-weight: bold;
}

.gallery-container .gallery-item .gallery-photo .mark-delete {
  position: absolute;
  top: 0rem;
  right: 0rem;
  z-index: 1;
  padding: .9rem 1.5rem;
  font-size: 18px;
  background: rgba(255, 0, 0, 0.85);
  color: white;
  font-weight: bold;
}

.gallery-container .gallery-item .gallery-photo .checkbox-delete {
  display: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding-top: 15%;
  background: rgba(255, 255, 255, 0.85);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  transition: all 150ms linear;
}

.gallery-container .gallery-item .gallery-photo .checkbox-delete span.help-text {
  display: none;
  font-size: 14px;
  padding: 1rem 0;
  text-transform: uppercase;
}

.gallery-container .gallery-item .gallery-photo .checkbox-delete span.help-text h5 {
  font-size: 16px;
  margin-bottom: 2rem;
}

.gallery-container .gallery-item .gallery-photo .checkbox-delete span.help-text h5 small {
  display: block;
  padding-bottom: 1rem;
}

.gallery-container .gallery-item .gallery-photo .checkbox-delete .bootstrap-switch {
  border: 0;
}

.gallery-container .gallery-item .gallery-photo img {
  transition: all 120ms ease-in-out;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-container .gallery-item .gallery-footer {
  position: relative;
  z-index: 1;
  padding: 1rem;
  background: white;
}

.gallery-container .gallery-item .gallery-footer .input-group-addon {
  border: 0;
  background: none;
  font-weight: bold;
  text-transform: uppercase;
}

.gallery-container .gallery-item:hover {
  background: #f2f2f2;
  overflow: hidden;
}

.gallery-container .gallery-item:hover .gallery-photo img {
  filter: blur(5px);
}

.gallery-container .gallery-item:hover .checkbox-delete {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0;
}

.gallery-container .gallery-item:hover .checkbox-delete span.help-text {
  display: block;
  color: white;
}

#ModalUploadProgress .progressbar[value] {
  -webkit-appearance: none;
  appearance: none;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 30px;
  background: red;
}

#ModalUploadProgress .progressbar[value]::-webkit-progress-bar {
  background-color: white;
  border-radius: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

#ModalUploadProgress .progressbar[value]::-webkit-progress-value {
  background: #1e5799;
  -webkit-animation: animate-stripes 5s linear infinite;
  animation: animate-stripes 5s linear infinite;
}

#ModalUploadProgress .progressbar[value]::-webkit-progress-value::before {
  content: attr(value);
  position: absolute;
  right: 0;
  top: -125%;
}

#ModalUploadProgress .progressbar[value]::-webkit-progress-value::after {
  content: '';
  width: 6px;
  height: 6px;
  position: absolute;
  border-radius: 100%;
  right: 7px;
  top: 7px;
  background-color: white;
}

#ModalUploadProgress .modal-body {
  text-align: center;
}

#ModalUploadProgress .modal-body p {
  margin-top: 1rem;
  font-size: 18px;
}

@-webkit-keyframes animate-stripes {
  100% {
    background-position: -50px 0px;
  }
}

@keyframes animate-stripes {
  100% {
    background-position: -50px 0px;
  }
}
