.statistic {
	padding: 10px 0px;
	text-align: center;
	text-transform: uppercase;
	&.border-right {
		border-right: 1px solid $gray;
	}
	&.border-left {
		border-right: 1px solid $gray;
	}
	.label {
		display: block;
		font-size: 12pt;
		color: $gray;
	}
	.value {
		display: block;
		font-weight: bold;
		font-size: 18pt;
		color: $warning-color;
		&.smaller {
			font-size: 14pt;
			text-transform: none;
		}
	}
}

hr.half-line {
	width: 15%;
	height: 3px;
	border: none;
	background: $primary-color;
	margin-bottom: 55px;
}