#promotion-horizontal {
	position: relative;
	h2.title {
		text-transform: uppercase;
	}
	.crsl-nav {
		.previous,
		.next {
			position: absolute;
			z-index: 9999;
			top: 45%;
			font-size: 22pt;
			background: rgba(0,0,0,.22);
			padding: 6px 5px;
			text-align: center;
			color: #fff;
			width: 50px;
			height: 50px;
			border-radius: 90px;
			&:hover {
				background: rgba(0,0,0,.85);
			}
		}
		.previous {
			left: 55px;
			padding-right: 10px;
		}
		.next {
			right: 55px;
			padding-left: 10px;
		}
	}
	.item-block {
		width: 100%;
	    background: #fff;
		position: relative;
		overflow: hidden;
		z-index:1;
	 	-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;	
		border: 1px solid #eaeaea;
		height: auto !important;
		max-height: 600px;
		.img-figure {
			position: relative;
			img {
				width: 100%;
				position: relative;	
				overflow: hidden;
				-webkit-transition: all 1s ease;
				-moz-transition: all 1s ease;
				-ms-transition: all 1s ease;
				-o-transition: all 1s ease;
				transition: all 1s ease;
				object-fit: cover;
			}
			.cat {
				background: $fuchsia;
				color: #fff;
				text-transform: uppercase;
				position: absolute;
				left: 0;
				top: 20px;
				z-index: 1;
				padding: 3px 15px;
			}
			
			.cat-video {
				background: $brand-danger;
				color: #fff;
				text-transform: uppercase;
				position: absolute;
				left: 0;
				top: 50px;
				z-index: 1;
				padding: 3px 15px;
			}
		}
		.title {
			padding: 35px 30px;
			position: absolute;
			left: 0;
			background: #fff;
			width: 100%;
			height: 100%;
			-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-ms-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease;	
			h1 {
				margin: 0;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 19px;
				text-align: center;
				a {
					color: #232323;
				}
			}
			h5 {
				margin: 0;
				text-transform: uppercase;
				font-weight: 400;
				font-size: 14px;
				color: #3D6AA2;
				text-align: center;
				a {
					color: #232323;
				}
				a.city-link {
					color: #3D6AA2;
				}
			}
			
		}
		.description {
			position: relative;
			font-weight: normal;
			line-height: 22px;
			opacity: 0;
			word-break: break-word;
			text-align: center;
		
			padding: 10px 30px 30px 30px;
			height: 120px;
		
			-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-ms-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease;	
		}
	}
	.item-block:hover {
		.img-figure img {
			-webkit-transform: scale(1.10);
			-moz-transform: scale(1.10);
			-ms-transform: scale(1.10);
			-o-transform: scale(1.10);
			transform: scale(1.10);
		}
		.title  {
			margin-top: -100px;
			background: #fff;
		}
		
		.description  {
			opacity: 1;
		}
		
		a:after {
		    width: 30px;
		}
	}
}

@media screen and (min-width: 1280px) {
	#promotion-horizontal {
		.crsl-nav {
			.previous {
				left: 25px;
			}
			.next {
				right: 25px;
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	#promotion-horizontal {
		.crsl-nav {
			.previous,
			.next {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	#promotion-horizontal {
		.item-block {
			.img-figure {
				img {
					max-height: 450px;
					object-fit: cover;
				}
				.title {
					position: relative;
					display: block;
				}
			}
		}
		.item-block:hover {
			.img-figure img {
				-webkit-transform: scale(1);
				-moz-transform: scale(1);
				-ms-transform: scale(1);
				-o-transform: scale(1);
				transform: scale(1);
			}
			.title  {
				margin-top: 0px;
				background: #fff;
				
			}
			
			.description  {
				opacity: 1;
			}
			
			a:after {
			    width: 30px;
			}
		}
	}
}